---
permalink: index.html
---

hello :)

  {%- for entry in collections.all %}
    <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.url }}</a></li>
  {%- endfor %}
